{% extends "base.html" %}
{% load static %}


{% block title %}About Me{% endblock title %}

{% block content %}
<h1>About Me</h1>
<img src="{% static "img/Tony.png" %}" alt="">
<p>Hey there, fellow music lover! I'm Brett, the voice behind Sonic Soliloquy. I've been obsessed with music for 
    as long as I can remember. From digging through dusty vinyl crates at record stores to losing myself in the energy 
    of live concerts, music is my constant companion. I created this blog to share that passion with you. My goal is to 
    shine a light on both well-known and under-the-radar artists, explore different genres, and spark some engaging
    conversations about the music that moves us.  Thanks for joining me on this sonic adventure! 🎧✨</p>
{% endblock content %}