{% extends "base.html" %}
{% load static %}


{% block title %}Home{% endblock title %}

{% block content %}
<h1>Welcome To My Blog!!!</h1>
    <img src="{% static "img/music.jpg" %}" alt="">
<p>Welcome to my sonic sanctuary!  I'm so glad you're here. This blog is dedicated to all things music – from in-depth 
    album reviews and artist spotlights to explorations of hidden gems and forgotten classics. Whether you're a 
    casual listener or a die-hard audiophile, I hope you'll find something here to pique your interest and expand your 
    musical horizons. So crank up the volume, settle in, and let's dive into the world of sound together! 🎶🎧</p>
{% endblock content %}